body{
background-color: black;
}
*{
color: white;
}
ul{
list-style-type: none;
padding: 0;
}
table, th, td{
border: 1px solid white;
}
ul li a{
text-decoration: none;
color:lightblue
}
.currentpage{
color: blue;
}
div{
border: 3px solid white;
background-color: #1A1A1A;
}
a{
text-decoration: none;
}
